.background {
    background: url('../../../public/imagens/bg.png') center center no-repeat;
    background-size: cover;
    height: 100%;
}

.centerForm{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.label{
    color: #fff;
}

#botao{
    border-radius: 30px;
}

.form{
    min-width: 300px;
    width: 600px;

}